/* store my custom variables */
:root {
  /* my colour palette is taken from https://lospec.com */
  /* its called lava-gb by aero */
  /* i picked this color as it realtes... */
  --colour-01: #330919;
  --colour-02: #6d7151;
  --colour-03: #7f642a;
  --colour-04: #ce8c23;
  --border: solid coral 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  line-height: 1.6;
  background-color: var(--colour-01);
  color: var(--colour-02);
}

h1 {
  font-size: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

main {
  max-width: 1000px;
  width: 100%;
}
.mediaPlayerSection {
  width: 100%;
  margin: 0 auto;
}

#mediaPlayer {
  max-width: 100%;
}

.mediaPlayerControlContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

#playPauseButton {
  padding: 1rem;
  cursor: pointer;
}

#timelineProgress {
  flex: 1;
}
